<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Akishop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for category in categoryRepository.findAll() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ category.name }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for subCat in category.subCategories %}
                        <li><a class="dropdown-item" href="{{ path('product_category', {'slug': subCat.slug}) }}">{{
                                subCat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('purchase_index') }}">mes commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark text-light btn-sm mt-1 px-lg-3 mx-lg-2"
                            href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-dark text-light btn-sm mt-1 px-lg-3 mx-lg-2"
                            href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                    <li class="nav-item" style="position: relative;">
                        <a href=" {{ path('cart_show') }}" class="nav-link">
                            <i class="fa-solid fa-cart-shopping"></i>
                            {% if cartService.total > 0 %}
                            <span class="cus-badge-cart"></span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>